ul{
    list-style: none;
    position: absolute;
}
a{
    text-decoration: none !important;
}
.home .nave{
    padding: 10px 0;
}
.user{
    position: relative;
}
.username ul {
    list-style: none;
    position: absolute;
    left: 0;
    padding: 0 !important;
    margin: 0 !important;
    top: 45px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.user:hover .username ul{
    height: 100px;
}