ul{
    list-style: none;
    position: absolute;
}
a{
    text-decoration: none !important;
}
.home .nave{
    padding: 10px 0;
}
.user{
    position: relative;
}
.username ul {
    list-style: none;
    position: absolute;
    left: 0;
    padding: 0 !important;
    margin: 0 !important;
    top: 45px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.user:hover .username ul{
    height: auto;
    min-height: 100px;
    padding: 55px 0px !important;
    margin: -55px 0px !important;
}
.colum{
    width: 300px;
    text-align: center;
    background: #a9acaf;
    padding: 10px;
    margin: 10px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.task{
    padding: 10px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;

}

